In [1]:
import os
from dotenv import load_dotenv
import pyodbc

# Charger les variables d'environnement
load_dotenv()

server = os.getenv('DB_SERVER')
database = os.getenv('DB_DATABASE')
username = os.getenv('DB_USERNAME')
password = os.getenv('DB_PASSWORD')

driver= '{ODBC Driver 17 for SQL Server}'

cnxn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

# CREATE

### Ajouter un nouveau produit à la table "Produit" , "Caracteristiques" & "Dimensions" :   
### mode SQL

In [ ]:
-- Insérer un nouveau produit dans la table Produit
INSERT INTO Produit (URL_Produit, Prix, Info_generale, Descriptif, Note, Date_scrap)
VALUES ('https://www.example.com', 666, 'Info générale', 'Descriptif', '666', '2024-01-31');

-- Obtenir l'ID du dernier produit inséré
DECLARE @ID_Produit INT;
SET @ID_Produit = SCOPE_IDENTITY();

-- Insérer une caractéristique correspondante dans la table Caracteristiques
INSERT INTO Caracteristiques (Consommation, Indice_Pluie, Bruit, Saisonalite, Type_Vehicule, Runflat, ID_Produit)
VALUES ('A', 'B', 666, 'Hiver', 'Voiture', 'Non', @ID_Produit);

-- Insérer une dimension correspondante dans la table Dimensions
INSERT INTO Dimensions (Largeur, Hauteur, Diametre, Charge, Vitesse, ID_Produit)
VALUES (205, 55, 16, 91, 'H', @ID_Produit);

### Ajouter un nouveau produit à la table "Produit" , "Caracteristiques" & "Dimensions" :   
### mode injection python

In [ ]:
import pyodbc

# Connexion à la base de données
cnxn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

# Création d'un nouveau produit
cursor.execute("""
INSERT INTO Produit (URL_Produit, Prix, Info_generale, Descriptif, Note, Date_scrap)
OUTPUT INSERTED.ID_Produit
VALUES ('https://www.test.com', 666, 'blabla', 'Descriptif', '666', '2024-01-31')
""")
id_produit = cursor.fetchone()[0]

# Affichage de l'ID_Produit
print(f"L'ID du produit inséré est : {id_produit}")

# Ajout d'une caractéristique correspondante
cursor.execute("""
INSERT INTO Caracteristiques (Consommation, Indice_Pluie, Bruit, Saisonalite, Type_Vehicule, Runflat, ID_Produit)
VALUES ('A', 'B', 666, 'Hiver', 'Voiture', 'Non', ?)
""", id_produit)

# Ajout d'une dimension correspondante
cursor.execute("""
INSERT INTO Dimensions (Largeur, Hauteur, Diametre, Charge, Vitesse, ID_Produit)
VALUES (200, 55, 16, 91, 'H', ?)
""", id_produit)

cnxn.commit()
cnxn.close()

# READ

cette requêtes récupèrent tous les produits qui ont   
un prix inférieur à 99, une saisonnalité ‘Hiver’, 
un diamètre de 17 et une consommation ‘A’ ou ‘B’. Les résultats sont affichés à l’écran.

### en SQL

In [3]:
SELECT P.*, C.*, D.*
FROM Produit P
JOIN Caracteristiques C ON P.ID_Produit = C.ID_Produit
JOIN Dimensions D ON P.ID_Produit = D.ID_Produit
WHERE P.Prix < 99
AND C.Saisonalite = 'Hiver'
AND D.Diametre = 17
AND C.Consommation IN ('A', 'B')

SyntaxError: invalid syntax (653990817.py, line 1)

### en python

In [2]:
import pyodbc

# Connexion à la base de données
cnxn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

# Exécution de la requête
cursor.execute("""
SELECT P.*, C.*, D.*
FROM Produit P
JOIN Caracteristiques C ON P.ID_Produit = C.ID_Produit
JOIN Dimensions D ON P.ID_Produit = D.ID_Produit
WHERE P.Prix < 199
AND C.Saisonalite = 'Hiver'
AND D.Diametre = 17
AND C.Consommation IN ('A', 'B')
""")

# Affichage des résultats
rows = cursor.fetchall()
for row in rows:
    print(row)

cnxn.close()

(52221, 'https://www.carter-cash.com/pneus/p/215-60-r60-100V-355663-CON11', 152, '215/60 R17 100V', 'CONTINENTAL WINTCONT TS 870 P', 'note inconnue', datetime.date(2024, 4, 13), 'CONTINENTAL', 52218, 'B', 'B', 71, 'Hiver', 'Tourisme', 'Non', 52221, 52217, 215, 60, 17, 100, 'V', 52221)
(47419, 'https://www.carter-cash.com/pneus/p/235-65-r65-108V-15038-BRI11', 180, '235/65 R17 108V', 'BRIDGESTONE LM005', 'note inconnue', datetime.date(2024, 4, 6), 'BRIDGESTONE', 47416, 'B', 'A', 72, 'Hiver', '4x4', 'Non', 47419, 47415, 235, 65, 17, 0, 'V', 47419)
(62762, 'https://www.carter-cash.com/pneus/p/245-65-r65-111H-15039-BRI11', 158, '245/65 R17 111H', 'BRIDGESTONE LM005', 'note inconnue', datetime.date(2024, 4, 21), 'BRIDGESTONE', 62759, 'B', 'A', 72, 'Hiver', '4x4', 'Non', 62762, 62758, 245, 65, 17, 0, 'H', 62762)
(62319, 'https://www.carter-cash.com/pneus/p/235-65-r65-108H-15037-BRI11', 148, '235/65 R17 108H', 'BRIDGESTONE LM005', 'note inconnue', datetime.date(2024, 4, 21), 'BRIDGESTONE', 62316, 'B', 'A', 72, 'Hiver', '4x4', 'Non', 62319, 62315, 235, 65, 17, 0, 'H', 62319)
(62288, 'https://www.carter-cash.com/pneus/p/235-65-r65-108V-15038-BRI11', 187, '235/65 R17 108V', 'BRIDGESTONE LM005', 'note inconnue', datetime.date(2024, 4, 21), 'BRIDGESTONE', 62285, 'B', 'A', 72, 'Hiver', '4x4', 'Non', 62288, 62284, 235, 65, 17, 0, 'V', 62288)
(61781, 'https://www.carter-cash.com/pneus/p/235-55-r55-103V-0355683-CON11', 182, '235/55 R17 103V', 'CONTINENTAL WINTER CONTACT TS 870 P', 'note inconnue', datetime.date(2024, 4, 21), 'CONTINENTAL', 61778, 'B', 'B', 71, 'Hiver', 'Tourisme', 'Non', 61781, 61777, 235, 55, 17, 0, 'V', 61781)
(59423, 'https://www.carter-cash.com/pneus/p/215-60-r60-100V-355663-CON11', 152, '215/60 R17 100V', 'CONTINENTAL WINTCONT TS 870 P', 'note inconnue', datetime.date(2024, 4, 21), 'CONTINENTAL', 59420, 'B', 'B', 71, 'Hiver', 'Tourisme', 'Non', 59423, 59419, 215, 60, 17, 100, 'V', 59423)
(59189, 'https://www.carter-cash.com/pneus/p/215-55-r55-98V-0355659-CON11', 168, '215/55 R17 98V', 'CONTINENTAL WINTER CONTACT TS 870 P', 'note inconnue', datetime.date(2024, 4, 21), 'CONTINENTAL', 59186, 'B', 'B', 71, 'Hiver', 'Tourisme', 'Non', 59189, 59185, 215, 55, 17, 98, 'V', 59189)
(55430, 'https://www.carter-cash.com/pneus/p/245-65-r65-111H-15039-BRI11', 159, '245/65 R17 111H', 'BRIDGESTONE LM005', 'note inconnue', datetime.date(2024, 4, 13), 'BRIDGESTONE', 55427, 'B', 'A', 72, 'Hiver', '4x4', 'Non', 55430, 55426, 245, 65, 17, 0, 'H', 55430)
(54849, 'https://www.carter-cash.com/pneus/p/235-65-r65-108V-15038-BRI11', 187, '235/65 R17 108V', 'BRIDGESTONE LM005', 'note inconnue', datetime.date(2024, 4, 13), 'BRIDGESTONE', 54846, 'B', 'A', 72, 'Hiver', '4x4', 'Non', 54849, 54845, 235, 65, 17, 0, 'V', 54849)
(54830, 'https://www.carter-cash.com/pneus/p/235-65-r65-108H-15037-BRI11', 149, '235/65 R17 108H', 'BRIDGESTONE LM005', 'note inconnue', datetime.date(2024, 4, 13), 'BRIDGESTONE', 54827, 'B', 'A', 72, 'Hiver', '4x4', 'Non', 54830, 54826, 235, 65, 17, 0, 'H', 54830)
(54220, 'https://www.carter-cash.com/pneus/p/235-55-r55-103V-0355683-CON11', 178, '235/55 R17 103V', 'CONTINENTAL WINTER CONTACT TS 870 P', 'note inconnue', datetime.date(2024, 4, 13), 'CONTINENTAL', 54217, 'B', 'B', 71, 'Hiver', 'Tourisme', 'Non', 54220, 54216, 235, 55, 17, 0, 'V', 54220)
(52211, 'https://www.carter-cash.com/pneus/p/215-60-r60-100V-17712-BRI11', 165, '215/60 R17 100V', 'BRIDGESTONE LM005', 'note inconnue', datetime.date(2024, 4, 13), 'BRIDGESTONE', 52208, 'B', 'A', 71, 'Hiver', '4x4', 'Non', 52211, 52207, 215, 60, 17, 100, 'V', 52211)
(51763, 'https://www.carter-cash.com/pneus/p/215-55-r55-98V-0355659-CON11', 168, '215/55 R17 98V', 'CONTINENTAL WINTER CONTACT TS 870 P', 'note inconnue', datetime.date(2024, 4, 13), 'CONTINENTAL', 51760, 'B', 'B', 71, 'Hiver', 'Tourisme', 'Non', 51763, 51759, 215, 55, 17, 98, 'V', 51763)
(48084, 'https://www.carter-cash.com/pneus/p/245-65-r65-111H-15039-BRI11', 161, '245/65 R17 111H', 'BRIDGESTONE LM005', 'note inconnue', datetime.date(2024, 4, 6), 'BRIDGESTONE', 48081, 'B', 'A', 72, 'Hiver', '4x4', 'Non', 48084, 48080, 245, 65, 17, 0, 'H', 48084)
(47439, 'https://www.carter-cash.com/pneus/p/235-65-r65-108H-15037-BRI11', 150, '235/65 R17 108H', 'BRIDGESTONE LM005', 'note inconnue', datetime.date(2024, 4, 6), 'BRIDGESTONE', 47436, 'B', 'A', 72, 'Hiver', '4x4', 'Non', 47439, 47435, 235, 65, 17, 0, 'H', 47439)
(44914, 'https://www.carter-cash.com/pneus/p/215-65-r65-103H-15032-BRI11', 147, '215/65 R17 103H', 'BRIDGESTONE LM005', 'note inconnue', datetime.date(2024, 4, 6), 'BRIDGESTONE', 44911, 'B', 'A', 71, 'Hiver', '4x4', 'Non', 44914, 44910, 215, 65, 17, 0, 'H', 44914)
(44587, 'https://www.carter-cash.com/pneus/p/215-60-r60-100V-17712-BRI11', 175, '215/60 R17 100V', 'BRIDGESTONE LM005', 'note inconnue', datetime.date(2024, 4, 6), 'BRIDGESTONE', 44584, 'B', 'A', 71, 'Hiver', '4x4', 'Non', 44587, 44583, 215, 60, 17, 100, 'V', 44587)
(44523, 'https://www.carter-cash.com/pneus/p/215-55-r55-98V-0355659-CON11', 168, '215/55 R17 98V', 'CONTINENTAL WINTER CONTACT TS 870 P', 'note inconnue', datetime.date(2024, 4, 6), 'CONTINENTAL', 44520, 'B', 'B', 71, 'Hiver', 'Tourisme', 'Non', 44523, 44519, 215, 55, 17, 98, 'V', 44523)
(40739, 'https://www.carter-cash.com/pneus/p/245-65-r65-111H-15039-BRI11', 162, '245/65 R17 111H', 'BRIDGESTONE LM005', 'note inconnue', datetime.date(2024, 3, 31), 'BRIDGESTONE', 40736, 'B', 'A', 72, 'Hiver', '4x4', 'Non', 40739, 40735, 245, 65, 17, 0, 'H', 40739)
(40401, 'https://www.carter-cash.com/pneus/p/235-65-r65-108H-15037-BRI11', 152, '235/65 R17 108H', 'BRIDGESTONE LM005', 'note inconnue', datetime.date(2024, 3, 31), 'BRIDGESTONE', 40398, 'B', 'A', 72, 'Hiver', '4x4', 'Non', 40401, 40397, 235, 65, 17, 0, 'H', 40401)
(40355, 'https://www.carter-cash.com/pneus/p/235-65-r65-108V-15038-BRI11', 180, '235/65 R17 108V', 'BRIDGESTONE LM005', 'note inconnue', datetime.date(2024, 3, 31), 'BRIDGESTONE', 40352, 'B', 'A', 72, 'Hiver', '4x4', 'Non', 40355, 40351, 235, 65, 17, 0, 'V', 40355)
(37606, 'https://www.carter-cash.com/pneus/p/215-65-r65-103H-15032-BRI11', 151, '215/65 R17 103H', 'BRIDGESTONE LM005', 'note inconnue', datetime.date(2024, 3, 31), 'BRIDGESTONE', 37603, 'B', 'A', 71, 'Hiver', '4x4', 'Non', 37606, 37602, 215, 65, 17, 0, 'H', 37606)
(37492, 'https://www.carter-cash.com/pneus/p/215-60-r60-100V-355663-CON11', 161, '215/60 R17 100V', 'CONTINENTAL WINTCONT TS 870 P', 'note inconnue', datetime.date(2024, 3, 31), 'CONTINENTAL', 37489, 'B', 'B', 71, 'Hiver', 'Tourisme', 'Non', 37492, 37488, 215, 60, 17, 100, 'V', 37492)
(37480, 'https://www.carter-cash.com/pneus/p/215-60-r60-100V-17712-BRI11', 180, '215/60 R17 100V', 'BRIDGESTONE LM005', 'note inconnue', datetime.date(2024, 3, 31), 'BRIDGESTONE', 37477, 'B', 'A', 71, 'Hiver', '4x4', 'Non', 37480, 37476, 215, 60, 17, 100, 'V', 37480)
(37258, 'https://www.carter-cash.com/pneus/p/215-55-r55-98V-0355659-CON11', 167, '215/55 R17 98V', 'CONTINENTAL WINTER CONTACT TS 870 P', 'note inconnue', datetime.date(2024, 3, 31), 'CONTINENTAL', 37255, 'B', 'B', 71, 'Hiver', 'Tourisme', 'Non', 37258, 37254, 215, 55, 17, 98, 'V', 37258)

<span style="color:orange">Ces requêtes comptent le nombre de lignes dans les tables Produit, Caracteristiques et Dimensions.</span>

In [6]:
SELECT COUNT(*) FROM Produit;
SELECT COUNT(*) FROM Caracteristiques;
SELECT COUNT(*) FROM Dimensions;

SyntaxError: invalid syntax (1095219716.py, line 1)

In [3]:
import pyodbc

# Connexion à la base de données
cnxn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

# Compter le nombre de lignes dans chaque table
for table_name in ['Produit', 'Caracteristiques', 'Dimensions']:
    cursor.execute(f"SELECT COUNT(*) FROM {table_name}")
    row_count = cursor.fetchone()[0]
    print(f"La table {table_name} contient {row_count} lignes.")

cnxn.close()

La table Produit contient 17567 lignes.
La table Caracteristiques contient 17567 lignes.
La table Dimensions contient 17161 lignes.

La table Produit contient 6725 lignes.
La table Caracteristiques contient 6725 lignes.
La table Dimensions contient 6577 lignes.

nombre de ligne avec 666 en prix

In [ ]:
SELECT COUNT(*)
FROM Produit P
JOIN Caracteristiques C ON P.ID_Produit = C.ID_Produit
JOIN Dimensions D ON P.ID_Produit = D.ID_Produit
WHERE P.Prix = 666

# UPDATE

### Cette requêtes mettent à jour le prix dans la table Produit et le bruit dans la table Caracteristiques,   
### en changeant toutes les valeurs de 666 en 777

### en SQL

In [ ]:
-- Mettre à jour le prix dans la table Produit
UPDATE Produit SET Prix = 777 WHERE Prix = 666;

-- Mettre à jour le bruit dans la table Caracteristiques
UPDATE Caracteristiques SET Bruit = 777 WHERE Bruit = 666;

### en python

In [ ]:
import pyodbc

# Connexion à la base de données
cnxn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

# Mettre à jour le prix dans la table Produit
cursor.execute("UPDATE Produit SET Prix = 777 WHERE Prix = 666")

# Mettre à jour le bruit dans la table Caracteristiques
cursor.execute("UPDATE Caracteristiques SET Bruit = 777 WHERE Bruit = 666")

cnxn.commit()
cnxn.close()

# DELETE

Ces requêtes suppriment les produits avec un prix de 777 dans la table Produit   
et les caractéristiques avec un bruit de 777 dans la table Caracteristiques.

### en SQL

In [ ]:
-- Supprimer les produits avec un prix de 777 dans la table Produit
DELETE FROM Produit WHERE Prix = 777;

-- Supprimer les caractéristiques avec un bruit de 777 dans la table Caracteristiques
DELETE FROM Caracteristiques WHERE Bruit = 777;

### en python

In [ ]:
import pyodbc

# Connexion à la base de données
cnxn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

# Supprimer les produits avec un prix de 777 dans la table Produit
cursor.execute("DELETE FROM Produit WHERE Prix = 777")

# Supprimer les caractéristiques avec un bruit de 777 dans la table Caracteristiques
cursor.execute("DELETE FROM Caracteristiques WHERE Bruit = 777")

cnxn.commit()
cnxn.close()

print("Les opérations de suppression ont été effectuées avec succès.")

suppresion des lignes qui on 666 en prix   
  ( crée pour supprimer ceux qui on un prix 666€ voire "nettoyage_BDD.ipynb" )

In [ ]:
-- Supprimer les lignes correspondantes dans la table Caracteristiques
DELETE FROM Caracteristiques
WHERE ID_Produit IN (
    SELECT ID_Produit
    FROM Produit
    WHERE Prix = 666
)

-- Supprimer les lignes correspondantes dans la table Dimensions
DELETE FROM Dimensions
WHERE ID_Produit IN (
    SELECT ID_Produit
    FROM Produit
    WHERE Prix = 666
)

-- Maintenant, vous pouvez supprimer les lignes de la table Produit
DELETE FROM Produit
WHERE Prix = 666

sql delete contenu dans _clone

In [11]:
-- Supprimer toutes les données de la table Produit_clone
DELETE FROM Produit_clone;

-- Supprimer toutes les données de la table Caracteristiques_clone
DELETE FROM Caracteristiques_clone;

-- Supprimer toutes les données de la table Dimensions_clone
DELETE FROM Dimensions_clone;

La colonne 'Marque' a été mise à jour avec succès.

effacement des données par rappport a la date

In [ ]:
-- Delete from Dimensions table
DELETE FROM Dimensions
WHERE ID_Produit IN (SELECT ID_Produit FROM Produit WHERE Date_scrap = '2024-09-05');

-- Delete from Caracteristiques table
DELETE FROM Caracteristiques
WHERE ID_Produit IN (SELECT ID_Produit FROM Produit WHERE Date_scrap = '2024-09-05');

-- Delete from Produit table
DELETE FROM Produit
WHERE Date_scrap = '2024-09-05';